@use './variables.scss';

[anm-hero='headline'] {
  .line {
    opacity: 0;
    filter: blur(10px);
  }

  .char {
    opacity: 0;
    filter: blur(10px);
  }

  @media (max-width: variables.$breakpoint-landscape) {
    opacity: 0;
    filter: blur(10px);
  }
}

[anm-hero='text'] {
  .line {
    opacity: 0;
    filter: blur(10px);
  }

  @media (max-width: variables.$breakpoint-landscape) {
    opacity: 0;
    filter: blur(10px);
  }
}

[anm-hero='section'] {
  .g_brand_circle {
    opacity: 0;
    filter: blur(10px);
  }
}

[anm-hero='trust-headline'] {
  opacity: 0;
  filter: blur(10px);
}

[anm-hero='trust-logos'] > * {
  opacity: 0;
  filter: blur(10px);
  transform: translateY(2.5rem);
}

[anm-hero='cta'] > * {
  opacity: 0;
}

// WaveFlow

[anm-hero='wave'] {
  clip-path: variables.$leftClipPath;
  animation: waveFlow 3s variables.$expo-out 2s forwards;
}

[anm-hero='wave'] path {
  fill: url(#waveGradient);
  animation: waveLooping 4s variables.$power3-in-out infinite;

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      animation-delay: #{$i * 0.1}s;
    }
  }
}

@keyframes waveFlow {
  0% {
    clip-path: variables.$leftClipPath;
  }
  100% {
    clip-path: variables.$fullclipPath;
  }
}

@keyframes waveLooping {
  0%,
  100% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(3rem) translateY(-2rem);
  }
}

// Override transforms for static elements
[anm-static='true'] {
  &,
  & .char,
  & .line,
  & > * {
    transform: none !important;
    clip-path: none !important;
  }
}
