@use './variables.scss';

[anm-hero='headline'] .char {
  transform: translate(0%, 210%) rotate(10deg);
  clip-path: variables.$fullclipPath;
}

[anm-hero='headline'] .line {
  transform: translate(0%, 110%) rotate(5deg);
  clip-path: variables.$topClipPath;
}

[anm-hero='text'] .line {
  transform: translate(0rem, 5rem) rotate(5deg);
  clip-path: variables.$topClipPath;
}

.g_brand_circle {
  transform: scale(0) rotate(45deg);
}

[anm-hero='trust-logos'] svg {
  transform: translate(0%, 110%);
}

[anm-hero='cta'] > * {
  transform: translate(0%, 120%) rotate(5deg);
}

// WaveFlow

.hero_bg_wave path {
  fill: url(#waveGradient);
  transform-origin: bottom left;
  clip-path: variables.$leftClipPath;
}

@for $i from 1 through 20 {
  .hero_bg_wave.is-transitioning path:nth-child(#{$i}) {
    animation: waveFlow 2s variables.$expo-out #{$i * 0.025}s forwards, waveLooping 4s variables.$power3-in-out #{2 + $i * 0.025}s infinite;
  }
}

@keyframes waveFlow {
  0% {
    transform: translateX(-10%) translateY(10%) scale(0.95);
    clip-path: variables.$leftClipPath;
  }
  100% {
    transform: translateX(0) translateY(0) scale(1);
    clip-path: variables.$fullclipPath;
  }
}

@keyframes waveLooping {
  0%,
  100% {
    transform: translateX(0) translateY(0) scale(1);
  }
  50% {
    transform: translateX(2%) translateY(-1%) scale(1);
  }
}
