@use './variables.scss';

[anm-service-overview='bg-wrap'] {
  > * {
  }
}

[anm-service-overview='list-wrap'] {
  [anm-service-overview='headline'] {
    opacity: 0.5;

    @media (max-width: variables.$breakpoint-landscape) {
      opacity: 0.8;
    }
  }

  [anm-service-overview='headline']:first-of-type {
    opacity: 1;
  }
}
