@use './variables';
@import './enterPage.scss';
@import './detail.scss';
@import './home.scss';
@import './cursor.scss';
@import './hero.scss';
@import './movingGradient.scss';
@import './navbar.scss';
@import './approach.scss';
@import './service.scss';
@import './serviceOverview.scss';
@import './teamList.scss';
@import './preloader.scss';

.footer_nav_link,
.navbar_menu_link {
  transition: letter-spacing 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);

  &:hover {
    letter-spacing: 0.05em;
  }
}

.is-animating {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0px, 0% 0px);
  width: 100%;
}

[data-page-loader='section'] {
  display: flex;
}

html {
  height: auto;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

[anm-btn='icon-wrap-1'] {
  scale: 0;
}

[data-theme] {
  transition: background-color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), border-color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

[anm-transition='wrap'] {
  display: none;
}

.testimonials_list_item:not(.is-service-detail):nth-child(2) {
  transform: translateY(5rem);

  @media (min-width: variables.$breakpoint-tablet) {
    transform: translateY(0);
  }
}
