@use './variables';

[anm-team-list='item'] {
  [anm-visual='filter'] {
    opacity: 1;
    transition: opacity 0.75s variables.$power3-out;
  }

  &:hover {
    [anm-visual='filter'] {
      opacity: 0;
    }
  }
}

[anm-team-modal='wrap'] {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;

  &.is-modal-active {
    display: flex;
    visibility: visible;
    opacity: 1;
  }
}

[anm-team-modal='item'] {
  [anm-team-modal='text'] {
    opacity: 0;
    .line {
      opacity: 0;
      transform: translateY(5rem) rotate(5deg);
      --line-index: 0;
    }
  }

  &.is-active {
    [anm-team-modal='text'] {
      opacity: 1;
      .line {
        animation: slideUpFade 1s variables.$expo-out forwards;
        animation-delay: calc(var(--line-index) * 0.05s);
      }
    }

    // Target all lines within paragraphs with a more specific selector
    [anm-team-modal='text'] div.line {
      @for $i from 1 through 100 {
        &:nth-of-type(#{$i}) {
          animation-delay: #{$i * 0.05}s;
        }
      }
    }
  }
}

@keyframes slideUpFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

[anm-team-modal='arrow'] {
  transition: transform 0.2s ease-out;

  &[anm-direction='right']:hover {
    transform: scale(1.1);
  }

  &[anm-direction='left']:hover {
    transform: rotate(-180deg) scale(1.1);
  }

  &[anm-direction='right']:active {
    transform: scale(0.8);
  }

  &[anm-direction='left']:active {
    transform: rotate(-180deg) scale(0.8);
  }
}
