$breakpoint-desktop: 992px;
$breakpoint-tablet: 991px;
$breakpoint-landscape: 768px;
$breakpoint-mobile: 478px;

$topClipPath: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
$bottomClipPath: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
$centerHorizontalPath: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
$fullclipPath: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

$color-bg1: rgb(108, 0, 162);
$color-bg2: rgb(0, 17, 82);
$gradient-color-1: #ff6982;
$gradient-color-2: #ffe5c0;
$gradient-color-3: #ffc37b;
$gradient-color-4: #ffc37b;
$gradient-color-5: #ffdbd7;
$color-interactive: #ff4548a5;
$circle-size: 80%;
$blending: soft-light;
